:root {
    --primary: #8C1C13;
    --light: #E7D7C1;
    --dark: #110B11;
    --secondary: #BF4342;
    --glass: rgba(255,255,255, 0.4);
    --font: 'Fredoka One', cursive;
    --marginLarge: 6px;
}

.wrap{
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-around;
    margin-top: 50px;

}

.add-form-wrap{
    justify-content: flex-start;
    align-self: center;
    border-radius: 20px;
    /* border: 2px solid var(--light);
    background-color: var(--primary); */
    display:flex;
    flex-direction: column;
    
}

.input-form{
    background-color: var(--glass);
    border-radius: 11px;
    /* border: 1px solid var(--primary); */
    border-style: none;
    width: 500px;
    height: 55px;
    outline: none;
    font-size: 20px;
    font-family: var(--font);
    transition: background-color 0.3s ease-in-out;
    color: var(--dark);
    padding: 10px;
}

.form-label{
    color: var(--light)
}

.textarea{
    width: 500px;
    height: 200px;
    padding: 10px;
}

.btn-sec{
    background-color: #8C1C13;
    font-size: 20px;
    display: block;
    margin-top: 20px;
}

#image-upload-wrap{
    width: 300px;
    height: 300px;
    border: 2px solid var(--light);
    border-radius: 15px;
    align-self: center;
    background-color: var(--primary);
    position: relative;
}

#actual-btn{
    display: none;
}

.form-style{
    width: 100%;
    height: 100%;
}

#upload-btn{
    width: 140px;
    height: 35px;
    border: 2px solid var(--light);
    border-radius: 17px;
    color: var(--light);
    background-color: var(--primary);
    font-family: var(--font);
    font-size: 25px;
    transition: all .2s ease-in-out;
    padding: 5px;
    text-align: center;
    text-justify: center;
    position: absolute;
    top: -5%;
    left: 5%;
    
}

#upload-btn:hover{
    scale: 1.1;
    cursor: pointer;
}

#upload-header{
    color: var(--light);
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}

#right-part{
    align-self: center;
}

#separator-wrap{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#traits-separator{
    width: 80%;
    position: relative;
    height: 2px;
    background-color: var(--light);
    align-self: center;
}

#traits-separator-text{
    position: absolute;
    color: var(--light);
    bottom: -23px;
    left: 50px;
    background-color: var(--dark);
    padding: 0px 10px;
}



.traits-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.traits-content{
    display: flex;
    margin-top: 60px;
}


.trait-name{
    color: var(--light);
    font-family: var(--font);
    font-size: 20px;
    margin-right: 40px;
}

.trait-rating{

}

.rating-box-wrap{
    display: flex;
}

.rating-box{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: var(--glass);
    transition: all 0.2s ease-out;
}

table{
    
}


#add-puppy-submit-btn{
    margin-left: 180px;
    margin-bottom: 70px;
}

.hiden-trait-value{
    display: none;
}

#p-select-alert{
    margin-left: 180px;
}




@media screen and (max-width: 1100px){
    .wrap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .input-form{
        width: 90%;
        height: 40px;
        font-size: 15px;
    }
    
    #image-upload-wrap{
        position: static;
    }
    #upload-btn{
        position: static;
    }

    #separator-wrap{
        display: none;
    }

    .rating-box{
        width: 20px;
        height: 20px;
    }

    .traits-wrapper{
        
    }

    .trait-name{
        color: var(--light);
        font-family: var(--font);
        font-size: 15px;
        margin-right: 10px;
    }

    
}

@media screen and (max-width: 700px){
    
}

@media screen and (max-width: 300px){
    
}