:root {
    --primary: #8C1C13;
    --light: #E7D7C1;
    --dark: #110B11;
    --secondary: #BF4342;
    --glass: rgba(255,255,255, 0.4);
    --glass2: rgba(255,255,255, 0.3);
    --font: 'Fredoka One', cursive;
}


#match-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#match-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    
}

#match-dog-select{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

#match-dog-form{
    width: 50%;
}

#dogs-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#your-dog{
    border: 1px solid var(--light);
    width:  30%;
    height: 700px;
    background-color: var(--primary);
    border-radius: 15px;
}

#next-button{
    margin-left: 20px;
}

.matching-dog{
    border: 1px solid var(--light);
    width:  30%;
    height: 700px;
    background-color: var(--primary);
    border-radius: 15px;
}

.matching-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.image-container{
    border-bottom: 1px solid var(--light);
    height: 45%;
}

.image-dog{
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

.name-container{
    display: flex;
    justify-content: center;
}

.breed-container{
    display: flex;
    justify-content: center;
}

.birth-container{
    display: flex;
    justify-content: center;
}

.traits-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive{
    display: none;
}

.active{
    display: block;
    transition: all 0.3s ease-in-out;
}

.active:hover{
    background-color: var(--secondary);
    cursor: pointer;
}

.form-style{
    width: 100%;
}

@media screen and (max-width: 1650px) {
    #your-dog{
        width: 40%;
    }
    .matching-dog{
        width: 40%;
    }
}


@media screen and (max-width: 1300px){
    #match-dog-select{
        justify-content: space-around;
        width: 100%;
        
    }

    #dogs-wrap{
        flex-direction: column;
        
    }

    #match-dog-form{
        width: 100%;
    }

    

    #your-dog{
        width: 70%;
    }
    .matching-dog{
        width: 70%;
    }

    #next-button{
        margin-left: 0px;
    }
}

@media screen and (max-width: 1000px){

}

@media screen and (max-width: 700px){
    #match-dog-select{
        flex-direction: column;
        margin-top: 20px;
    }
     #match-dog-select label{
         margin-bottom: 10px;
     }

     #match-dog-select button{
         width: 100px;
         height: 50px;
         margin-top: 10px;
         margin-bottom: 20px;
         margin-left: 0px;
         margin-right: 0px;
     }

     #your-dog{
        width: 90%;
     }

     .matching-dog{
        width: 90%;
     }


     .rating-box-range{
        height: 15px;
        width: 15px;
     }

     .rating-box-not-range{
        height: 15px;
        width: 15px;
     }

     .traits-column{
         font-size: 12px;
     }
}

@media screen and (max-width: 300px){
    .rating-box-range{
        height: 12px;
        width: 12px;
     }

     .rating-box-not-range{
        height: 12px;
        width: 12px;
     }

     .traits-column{
         font-size: 10px;
     }
}