body{
    margin: 0px;
    padding: 0px;
}

#background{
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.png");
    display: flex;
    justify-content: center;
}

:root {
    --primary: #8C1C13;
    --light: #E7D7C1;
    --dark: #110B11;
    --secondary: #BF4342;
    --secondaryDark: #63a46c;
    --tercyary: #BF4342;
    --caramel: #E7D7C1;
    --glass: rgba(255,255,255, 0.4);
    --font: 'Fredoka One', cursive;
}

.btn{
    width: 140px;
    height: 60px;
    border: 2px solid var(--primary);
    border-radius: 17px;
    color: var(--light);
    background-color: var(--dark);
    font-family: var(--font);
    font-size: 25px;
    transition: all .2s ease-in-out;
    margin-bottom: 20px;
    margin-right: 20px;

}


#register-form, #login-form{
    
    align-self: center;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    border-radius: 17px;
    
}

#register-form{
    display: none;
}

.inpt{

    display: block;

    background-color: var(--glass);
    border-radius: 11px;
    border: 1px solid var(--primary);
    width: 300px;
    height: 55px;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    font-family: var(--font);
    transition: background-color 0.3s ease-in-out;
    color: var(--dark);
}

input[type="password"]{
    font: small-caption;
    font-size: 20px;
    align-self: center;
    color: var(--dark);
    letter-spacing: 3px;
}



.inptB{
    margin-bottom: 30px;
    margin-top: 40px;
}

.inpt:focus{

    background-color: khaki;
    border: 1px solid var(--tercyary);

}

.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.input-box{
    position: relative;
}

.input-text-username{
    position: absolute;
    top:-3%;
    left: 7%;
    font-size: 20px;
    font-family: var(--font);
    color: var(--light);
}

.input-text-password{
    position: absolute;
    top:30%;
    left: 7%;
    font-size: 20px;
    font-family: var(--font);
    color: var(--light);

}

#register-form .input-text-password{
    top: 0%;
}

.inpt:focus + .input-text-username,
.inpt:valid + .input-text-username{
    transform: translate(-25%,-200%) scale(0.8);
    transition: all .3s ease-in ;
    
}

.inpt:focus + .input-text-password,
.inpt:valid + .input-text-password{
    transform: translate(-25%,-190%) scale(0.8);
    transition: all .3s ease-in ;
}

.inpt:invalid{
    box-shadow: none;
}

#wrapper{
    display: flex;
    position: relative;
}

#left-part{
    width: 500px;
    height: 400px;
    border-right: 1px solid var(--caramel);
    color: var(--caramel);
    font-family: var(--font);
    align-self: center;
    display:flex;
    flex-direction: column;
}

.paw-image{
    width: 100px;
    height: 100px;
    display: inline;
}

h1,p,h2{
    font-family: var(--font);
    color: var(--caramel);
}

#head-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#land-body{
    display:flex;
    flex-direction: column;
    align-self: center;
    
}

.head{
    margin-bottom: 50px;
}

#buttons-wrapper{
    display:flex;
    justify-content: flex-start;
}

.back-btn{
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
}

#form-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#head-reg{
    margin-left: 20px;
}

.back-btn:hover{
    scale: 1.1;
    cursor: pointer;
}

#password-alert{
    display: none;
}

#reg-btn:disabled{
    cursor: not-allowed;
}


@media screen and (max-width: 1300px){
    #wrapper{
        flex-direction: column;
    }

    #left-part{
        border-right: none;
        border-bottom: 1px solid var(--light);
        margin-top: 40px;
    }
}

@media screen and (max-width: 1000px){

}

@media screen and (max-width: 700px){
    #wrapper{
        overflow-x: hidden;
    }

    #left-part{
        font-size: 13px;
        height: 300px;
        width: 100%;
        align-items: center;
    }

    .paw-image{
        width: 80px;
        height: 80px;
    }
    h1{
        font-size: 25px;
    }

    .inpt{
        width: 250px;
    }

    .head{
        margin-bottom: 35px;
    }

    #background{
        height: 150vh;
    }
    
    
    #buttons-wrapper button{
       width: 90%;
    }


}

@media screen and (max-width: 300px){
    
    #left-part{
        font-size: 10px;
        width: 100%;
        align-items: center;
    }

    .paw-image{
        width: 70px;
        height: 70px;
    }

    h1{
        font-size: 20px;
    }

    .inpt{
        width: 200px;
        
    }

    #login-form{
        
        margin: 0px;
        width: 100%;
        align-items: center;
        align-content: center;
    }

    #buttons-wrapper{
        justify-content: space-evenly;

        width: 100%;
    }
    
    #buttons-wrapper button{
        width: 35%;
        height: 50px;
        margin: 0;
        font-size: 17px;
    }

}