:root {
    --primary: #8C1C13;
    --light: #E7D7C1;
    --dark: #110B11;
    --secondary: #BF4342;
    --glass: rgba(255,255,255, 0.4);
    --font: 'Fredoka One', cursive;
}

a{
    text-decoration: none;
    color: var(--dark);
    font-family: var(--font);
}

body{
    background-color: var(--dark);
    width: 100%;
    height: 100vh;
}

p{
    color: var(--dark)
}

#main-div{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;

}


#sidebar{
    width: 20%;
    height: 100vh;
    background-color: var(--primary);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 20px var(--light);
    position: sticky;
    top:0;
    overflow-y: hidden;
}

.avatar{
    align-self: center;
    
    background-color: var(--light);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid var(--light);
    position: relative;
    
    
}

.sidebar-elem{
    align-self: center;
    height: 50px;
    width: 98%;
    /* background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.1)
      ); */
    border: 2px solid var(--light);
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-radius: 5px;
    background-color: var(--secondary);

}

.sidebar-elem:hover{
    background-color: var(--dark);
    transition: ease-in-out 0.3s;
}

#sidebar-active-elem{
    background-color: var(--dark);
}




#sidebar-items-wrapper{
    
    padding: 10px;
}

#layout-wrapper{
    display:flex;
}


.text-in-nav{
    color: var(--light)
}

.img-avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.mobile-navbar-icon{
    display: none;
}

#sidenavbar{
    display: none;
}

.logo{
    width: 100px;
    height: 100px;
}

#logo-container{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-container h1{
    margin: 0;
}


#logout-icon{
    width: 20px;
    height: 20px;
}

#logOut-btn{
    background-color: var(--dark);
    border-style: none;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 75%;
    bottom: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avat-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1400px) {
    .sidebar-elem{
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .avatar{
        height: 150px;
        width: 150px;
    }

    
}


@media screen and (max-width: 1000px){

    #avat-container{
        display: none;
    }

    #logo-container{
        display: none;
    }

    #sidebar{
        width: 100%;
        height: 60px;
        background-color: var(--primary);
        display: flex;
        flex-direction: row;
        text-decoration: none;
        justify-content: center;
        align-items: center;
    }

    #layout-wrapper{
        display:flex;
        flex-direction: column;
    }

    .avatar{
        display: none;
    }

    .sidebar-elem{
        display: none;
    }

    #sidenavbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 60px;
        left: -100%;
        height: 100vh;
        width: 50%;
        background-color: var(--primary);
        transition: all 0.4s ease-in-out;

    }

    .navelem{
        display: block;
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        height: 35px;
    }

    #main-div{
        overflow-y: unset;
        overflow-x: hidden;
        width: 100%;
    }
    
    .mobile-navbar-icon{
        display: block;
        margin: 0px 10px;
    }

    .svg-icon{
        width: 40px;
        height: 40px;
    }

    .svg-icon-two{
        width: 60px;
        height: 60px;
    }

    #sidebar-items-wrapper{
        width: 100%;
        height: 100%;
        margin: 0;
        
    }

    .mobile-nav-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    .mobile-nav-menues{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    



    #btn-div{
        display: none;
    }

    #logOut-btn{
        height: 60%;
    }
    #hamburger{
        
        height: 70%;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 6px;

        transition: all 0.3s ease-in-out;
    
    }

    #hamburger:hover{
        cursor: pointer;
    }

    

    .ham-span{

        width: 40px;
        height: 7px;
        background-color: var(--light);
        border-radius: 3px;
        transition: all 0.4s ease-in-out;
        position: relative;

    }

    .notmobile{
        display: inline;
    }

    
    
}

@media screen and (max-width: 700px){
    .svg-icon{
        width: 30px;
        height: 30px;
    }

    .svg-icon-two{
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 300px){
    .svg-icon{
        width: 18px;
        height: 18px;
    }

    .svg-icon-two{
        width: 25px;
        height: 25px;
    }

    #hamburger{
        height: 70%;
        margin-left: 5px;
    }

    .ham-span{
        height: 4px;
        width: 30px;
    }

    .notmobile{
        display: none;
    }

    .mobile-nav-menues{
        
    }
    
    
}

