:root {
    --primary: #8C1C13;
    --light: #E7D7C1;
    --dark: #110B11;
    --secondary: #BF4342;
    --glass: rgba(255,255,255, 0.4);
    --glass2: rgba(255,255,255, 0.3);
    --font: 'Fredoka One', cursive;
}

#userprofile-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;
}

#user-profile-card{
    width: 20%;
    height: 400px;
    background-color: var(--primary);
    border-radius: 15px;
    border: 2px solid var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 40px;
}

#user-dogs-wrap{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#avatar-holder{
    width: 250px;
    height: 250px;
    margin-top: 20px;
}

.user-profile-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#name-holder{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#country-city-holder{
    flex:2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.user-profile-p{
    font-family: var(--font);
    font-size: 18px;
    color: var(--light);
}

@media screen and (max-width: 1651px){
    #user-profile-card{
        width: 25%;

    }
}


@media screen and (max-width: 1300px){
    #user-profile-card{
        position: static;
        width: 40%;
    }

    #userprofile-wrap{
        flex-direction: column;
        align-items: center;
    }

    #user-dogs-wrap{
        width: 90%;
    }
}

@media screen and (max-width: 1000px){
    #user-profile-card{
        width: 60%;
    }
}

@media screen and (max-width: 700px){
    #user-profile-card{
        width: 80%;
    }
    #user-dogs-wrap{
        width: 95%;
        margin:0;
    }

    .request-card-image{
        border-top-right-radius: 11px;
    }

    .request-card-image-container{
        border-top-right-radius: 15px;
    }

    #request-card-info-part{
        border-right-style: none;
    }
}

@media screen and (max-width: 300px){
    #user-profile-card{
        width: 95%;
        align-items: center;
        
    }

    #avatar-holder{
        width: 200px;
        height: 200px;
        
    }

    .request-card-image{
        border-top-right-radius: 11px;
    }

    .request-card-image-container{
        border-top-right-radius: 15px;
    }



    #user-dogs-wrap{
        width: 95%;
        margin:0;
    }

    
}