{% extends 'home.html' %}
{% set active_page = "add" %}

{% block content %}
    
        <form method="POST" class="form-style" enctype="multipart/form-data">
        <div class="wrap">
            <div class="add-form-wrap">
                    <p class="form-label">Name</p>
                    <input class="input-form" name="name">
                    <p class="form-label">Description</p>
                    <textarea class="input-form textarea" name="description" row=5></textarea>
                    <p class="form-label">Breed</p>
                    <select class="input-form" name="breed">
                        {% for breed in breedOptions %}
                            <option>{{ breed }}</option>

                        {% endfor %}

                    </select>
                    <p class="form-label">Date of birth</p>
                    <input type="date" class="input-form" name="birthDate"/>
                    
                
            </div>
            <div id="right-part">
                <p id="upload-header">Picture</p>
                <div id="image-upload-wrap">
                    <input
                                id="actual-btn"
                                type="file"
                                accept="image/*"
                                name="img"  
                    />
                    <label for="actual-btn" id="upload-btn">
                        Choose
                    </label>
                    
                    
                </div>
            </div>
        </div>
        <div id="separator-wrap">
            <div id="traits-separator">
                <p id="traits-separator-text">Tratits</p>
            </div>
        </div>
        <div class="traits-wrapper">

        </div>
        <button class="btn btn-sec" type="submit">ADD PUPPY</button>
        </form>

        <script src="{{url_for('static', filename='scripts/upload.js')}}"></script>
    
{% endblock %}