{% extends 'home.html' %}
{% set active_page = "add" %}

{% block content %}
    
        <form method="POST" class="form-style" enctype="multipart/form-data">
        <div class="wrap">
            <div class="add-form-wrap">
                    <p class="form-label">Name</p>
                    <input class="input-form" required name="name">
                    <p class="form-label">Description</p>
                    <textarea class="input-form textarea" required name="description" row=5></textarea>
                    <p class="form-label">Breed</p>
                    <select class="input-form" name="breed" required>
                        {% for breed in breedOptions %}
                            <option>{{ breed }}</option>

                        {% endfor %}

                    </select>
                    <p class="form-label"></p>
                    <select class="input-form" name="gender" required>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <p class="form-label">Date of birth</p>
                    <input type="date" required class="input-form" name="birthDate"/>
                    
                    
                
            </div>
            <div id="right-part">
                <p id="upload-header">Picture</p>
                <div id="image-upload-wrap">
                    <input
                                id="actual-btn"
                                type="file"
                                accept="image/*"
                                name="img"  
                    />
                    <label for="actual-btn" id="upload-btn">
                        Choose
                    </label>
                    
                    
                </div>
            </div>
        </div>
        <div id="separator-wrap">
            <div id="traits-separator">
                <p id="traits-separator-text">Traits</p>
            </div>
        </div>
        <div class="traits-wrapper">
            <div class="traits-content">
                <table>
                    <tr>
                        <td>
                            <p class="trait-name">PLAYFUL</p>
                        </td>
                        <td>
                            <div class="rating-box-wrap" id="playful">
                            {% for i in range(10) %}
                                <div class="rating-box" id="playful-{{i + 1}}"></div>
                            {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="trait-name"> AGGRESSIVE </p>
                        </td>
                        <td>
                            <div class="rating-box-wrap" id="aggressive">
                            {% for i in range(10) %}
                                <div class="rating-box" id="aggressive-{{i + 1}}"></div>
                            {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="trait-name"> CURIOUS </p>
                        </td>
                        <td>
                            <div class="rating-box-wrap" id="curious">
                            {% for i in range(10) %}
                                <div class="rating-box" id="curious-{{i + 1}}"></div>
                            {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="trait-name"> SOCIAL </p>
                        </td>
                        <td>
                            <div class="rating-box-wrap" id="social">
                            {% for i in range(10) %}
                                <div class="rating-box" id="social-{{i + 1}}"></div>
                            {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="trait-name"> DEMANDING </p>
                        </td>
                        <td>
                            <div class="rating-box-wrap" id="demanding">
                            {% for i in range(10) %}
                                <div class="rating-box" id="demanding-{{i + 1}}"></div>
                            {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="trait-name"> DOMINANT </p>
                        </td>
                        <td>
                            <div class="rating-box-wrap" id="dominant">
                            {% for i in range(10) %}
                                <div class="rating-box" id="dominant-{{i + 1}}"></div>
                            {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="trait-name"> PROTECTIVE </p>
                        </td>
                        <td>
                            <div class="rating-box-wrap" id="protective">
                            {% for i in range(10) %}
                                <div class="rating-box" id="protective-{{i + 1}}"></div>
                            {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="trait-name"> APARTMENT LIVING </p>
                        </td>
                        <td>
                            <div class="rating-box-wrap" id="apartment">
                            {% for i in range(10) %}
                                <div class="rating-box" id="apartment-{{i + 1}}"></div>
                            {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="trait-name"> VOCAL </p>
                        </td>
                        <td>
                            <div class="rating-box-wrap" id="vocal">
                            {% for i in range(10) %}
                                <div class="rating-box" id="vocal-{{i + 1}}"></div>
                            {% endfor %}
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
            
        </div>
                <input  class="hiden-trait-value" type="number" name="playful" id="playful-input"/>
                <input  class="hiden-trait-value" type="number" name="aggressive" id="aggressive-input"/>
                <input  class="hiden-trait-value" type="number" name="curious" id="curious-input"/>
                <input  class="hiden-trait-value" type="number" name="social" id="social-input"/>
                <input  class="hiden-trait-value" type="number" name="aggressive" id="aggressive-input"/>
                <input  class="hiden-trait-value" type="number" name="demanding" id="demanding-input"/>
                <input  class="hiden-trait-value" type="number" name="dominant" id="dominant-input"/>
                <input  class="hiden-trait-value" type="number" name="protective" id="protective-input"/>
                <input  class="hiden-trait-value" type="number" name="apartment" id="apartment-input"/>
                <input  class="hiden-trait-value" type="number" name="vocal" id="vocal-input"/>
                <div id="p-select-alert"><p class="p-form" > You must select all traits </p></div>
                <button class="btn btn-sec" disabled=false id="add-puppy-submit-btn" type="submit">ADD PUPPY</button>
        </form>

        <script src="{{url_for('static', filename='scripts/upload.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/traits.js')}}"></script>
    
{% endblock %}