{% extends 'home.html' %}
{% set active_page = "bestMatch" %}

{% block content %}
    <div id="match-wrap">
        <div id="match-container">
            <form id="match-dog-form" method="POST">
                <div id="match-dog-select">
                    
                        
                            <label for="choosenDog" class="p-form">Choose your dog</label>
                            <select class="input-form choose-cat" name="choosenDog">
                                {% for dog in ownerDogs %}

                                    <option>{{ dog[0] }}</option>

                                {% endfor %}
                            </select>
                            <button class="btn btn-sec">Set</button>
                        
                </div>
            </form>
            <div id="dogs-wrap">
                <div id="your-dog">

                </div>
                <div id="next-button">
                        <button class="btn btn-sec">Find next</button>
                </div>
                <div id="matching-dog">

                </div>
            </div>
        </div>

    </div>
{% endblock %}