{% extends 'home.html' %}
{% set active_page = "" %}

{% block content %}

    <div id="dog-profile-wrap">

        <div id="dog-area">
            <div id="dog-picture">
                <img id="dog-picture-large" src="{{ dogImg }}">
            </div>
            <div>
                <p class="p-dog-card">{{ dog[0] }}</p>
            </div>
            <div>
                <p class="p-dog-card">{{ dog[1] }}</p>
            </div>
            <div>
                <p class="p-dog-card">Breed:  {{ dog[3] }}</p>
            </div>
            <div>
                <p class="p-dog-card">Gender: {{ dog[7] }}</p>
            </div>
            <div>
                <p class="p-dog-card">Birthday:  {{ dog[2] }}</p>
            </div>
            <div>
                <table id="static-traits">
                    {% for m in range(9) %}
                    <tr>
                        <td class="trait-column"><p class="p-form p-dog-card">{{ traits[m] }}</p></td>
                        <td>
                            <div class="rating-box-wrap">
                                {% for n in range(10) %}

                                    {% if n <= dog[m+8] %}
                                        <div class="rating-box-range">
                                        </div>
                                    {% else %}
                                        <div class="rating-box-not-range"></div>
                                    {% endif %}

                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            <div>
                <form method="POST">
                    <div id="mating-form-wrap">
                        <div id="dog-select">
                            <label class="p-dog-card dog-card-label" for="requestDog">YOUR DOG: </label>
                            <select class="input-form" id="mating-req-select" name="requestDog" required>
                                {% for dog in curUserDogs %}
                                    <option>
                                        {{ dog[0] }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <button class="btn" id="mating-req-btn" type="submit">
                            SEND REQUEST
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>


        <div id="user-card">
            <p class="p-form">OWNER</p>
            <div id="avatar-name-wrap">
                <div id="user-card-avatar">
                    <img id="owner-card-avat" src="{{ ownerImg }}" />
                </div>
                <div id="user-card-username">

                </div>
                <p class="p-form">{{ dog[5] }}</p>
            </div>
            <div id="buttons-wrap">
                <button class="user-card-btn">
                    <p class="p-form">CONTACT</p>                
                </button>
                <button class="user-card-btn">
                    <p class="p-form">PROFILE</p>
                </button>
            </div>
        </div>

        
    </div>

{% endblock %}