{% extends 'home.html' %}
{% set active_page = "explore" %}

{% block content %}

    <div id="explore-wrap">
        <form method="POST">
            <div id="filter-wrap">
                <div class="filter-item">
                    <label for="categorySelect"><p class="p-form">Filter by breed: </p></label>
                    <select class="input-form choose-cat" name="breed">
                        <option>Any</option>
                        {% for breed in breedOptions %}
                        
                        <option>{{ breed }}</option>
                        
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-item">
                    <label for="gender"><p class="p-form">Filter by gender</p></label>
                    <select class="input-form choose-cat" name="gender">
                        <option>Any</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="filter-item">
                    <label for="gender"><p class="p-form">Filter by location</p></label>
                    <select class="input-form choose-cat" name="gender">
                        <option>Any</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="filter-item" id="filter-btn">
                    <button class="btn btn-sec" type="submit">Search</button>
                </div>
            </div>
        </form>

        <div class="card-wrap">
            {% if dogs != None %}
                {% for dog in dogs %}
                    
                        <div class="card">
                            <a  href="/dog/{{ dog[0] }}">
                                <div class="card-image-area">
                                    <img src="{{ dog[5] }}" class="card-image"/>
                                </div>
                                <div class="card-text-wrapper">
                                    <div class="card-title-area">
                                        <p class="card-p">{{ dog[1] }}</p>
                                    </div>
                                    <div class="card-description-area">
                                        <p class="card-p">{{ dog[4] }}</p>
                                    </div>
                                    <div class="card-date-area">
                                        <p class="card-p">Birth date: {{ dog[2] }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    
                {% endfor %}
            {% endif %}

            
        </div>

    </div>

{% endblock %}