<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/addstyle.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dogprofile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dog.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/requests.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/userprofile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/inbox.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bestmatch.css') }}">
        
        
        
    </head>
    <body>
        
        <div id="layout-wrapper">
            <div id="sidebar">
                <div class="avatar">
                    <img class="img-avatar" src="{{ currentAvatar }}"/>
                </div>
                <div id="btn-div">
                    <a href="/logout"><button id="logOut-btn"><p class="text-in-nav">Log out</p></button></a>
                </div>
                <div id="sidebar-items-wrapper">
                    <a href="/add-puppy" id="{{ 'sidebar-active-elem' if active_page == 'add' else '' }}" class="sidebar-elem"><p class="text-in-nav">Add Puppy</p></a>
                    <a href="/profile" id="{{ 'sidebar-active-elem' if active_page == 'profile' else '' }}" class="sidebar-elem"><p class="text-in-nav">Profile</p></a>
                    <a href="/explore" id="{{ 'sidebar-active-elem' if active_page == 'explore' else '' }}" class="sidebar-elem"><p class="text-in-nav">Explore</p></a>
                    <a href="/best-match" id="{{ 'sidebar-active-elem' if active_page == 'bestMatch' else '' }}" class="sidebar-elem"><p class="text-in-nav">Best match</p></a>
                    <a href="/requests" id="{{ 'sidebar-active-elem' if active_page == 'requests' else '' }}" class="sidebar-elem"><p class="text-in-nav">My dogs</p></a>
                    <a href="/inbox" id="{{ 'sidebar-active-elem' if active_page == 'inbox' else '' }}" class="sidebar-elem"><p class="text-in-nav">Inbox</p></a>
                    <div class="mobile-nav-wrap">
                        <div id="hamburger">
                            <div class="ham-span" id="ham-1"></div>
                            <div class="ham-span" id="ham-2"></div>
                            <div class="ham-span" id="ham-3"></div>

                        </div>
                        <div class="mobile-nav-menues">
                            <a href="/add-puppy" id="{{ 'sidebar-active-elem' if active_page == 'mnvbmnvb' else '' }}" class="mobile-navbar-icon"><img class="svg-icon notmobile" src ="/static/images/adddog.svg"/></a>
                            <a href="/requests" id="{{ 'sidebar-active-elem' if active_page == 'mvnbmvb' else '' }}" class="mobile-navbar-icon"><img class="svg-icon notmobile" src="/static/images/dogprofile.svg"/></a>
                            <a href="/best-match" id="{{ 'sidebar-active-elem' if active_page == 'mvnbmnvb' else '' }}" class="mobile-navbar-icon"><img class="svg-icon-two" src="/static/images/twodogs.svg"/></a>
                            <a href="/profile" id="{{ 'sidebar-active-elem' if active_page == 'mvnbv' else '' }}" class="mobile-navbar-icon"><img class="svg-icon" src="/static/images/profile.svg"/></a>
                            <a href="/explore" id="{{ 'sidebar-active-elem' if active_page == 'mnvbmb' else '' }}" class="mobile-navbar-icon"><img class="svg-icon" src="/static/images/explore.svg"/></a>
                            <a href="/inbox" id="{{ 'sidebar-active-elem' if active_page == 'mnbvm' else '' }}" class="mobile-navbar-icon"><img class="svg-icon" src="/static/images/inbox.svg"/></a>
                        </div>
                    </div>
                </div>
                <script src="{{url_for('static', filename='scripts/hamburger.js')}}"></script>
            </div>
            
            

            <div id="main-div">

                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="sidenavbar">
            <a href="/add-puppy" id="{{ 'sidebar-active-elem' if active_page == 'add' else '' }}" class="sidebar-elem navelem"><p class="text-in-nav">Add Puppy</p></a>
                <a href="/profile" id="{{ 'sidebar-active-elem' if active_page == 'profile' else '' }}" class="sidebar-elem navelem"><p class="text-in-nav">Profile</p></a>
                <a href="/explore" id="{{ 'sidebar-active-elem' if active_page == 'explore' else '' }}" class="sidebar-elem navelem"><p class="text-in-nav">Explore</p></a>
                <a href="/best-match" id="{{ 'sidebar-active-elem' if active_page == 'bestMatch' else '' }}" class="sidebar-elem navelem"><p class="text-in-nav">Best match</p></a>
                <a href="/requests" id="{{ 'sidebar-active-elem' if active_page == 'requests' else '' }}" class="sidebar-elem navelem"><p class="text-in-nav">My dogs</p></a>
                <a href="/inbox" id="{{ 'sidebar-active-elem' if active_page == 'inbox' else '' }}" class="sidebar-elem navelem"><p class="text-in-nav">Inbox</p></a>
        </div>
    </body>
</html>