<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    </head>
    <body>
        <div id="sidebar">
            <a href="/add-puppy">Add puppy</a>
            <a href="/profile">Profile</a>
            <a href="/logout"><button>Log out</button></a>
        </div>
        
        <script src=""></script>
    </body>
</html>