<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dog app</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div id="background">
                    <form>
                        <div class="form-holder">
                            <div>
                                <p>Login</p>
                            </div>
                            <div class="input-box">
                                <input type="text" class="inpt inptA" required/>
                                <p class="input-text-username">Username</p>
                            </div>
                
                            <div class="input-box">
                                <input type="password" class="inpt inptB" required/>
                                <p class="input-text-password">Password</p>
                
                            </div>
                            
                            <div>
                                <button class="btn" type="submit"> LOGIN</button>
                                <button class="btn" type="submit"> REGISTER </button>
                            </div>
                        </div>
                    </form>

        </div>
        
        
    </body>
</html>