<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dog app</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div id="background">
            <div id="wrapper">
                <div id="left-part">
                    <div id="head-img">
                        <img src="../static/images/paw.svg" class="paw-image" />
                        <h1>Puppy maker</h1>
                    </div>
                    <div id="land-body">
                        <ul>
                        <li><h2>Find the best lover for your dog</h2></li>
                        <li><h2>Connect with their owners</h2></li>
                        <li><h2>Make puppies</h2></li>
                        </ul>
                    </div>
                    
                </div>
                <div id="divide"></div>
                <div id="login-form">
                        <form method="POST" action="/home">
                            
                                <div id="form-header">
                                    <h1 class="head">Login</h1>
                                </div>
                                <div class="input-box">
                                    <input type="text" class="inpt inptA" required/>
                                    <p class="input-text-username">Username</p>
                                </div>
                    
                                <div class="input-box">
                                    <input type="password" class="inpt inptB" required/>
                                    <p class="input-text-password">Password</p>
                    
                                </div>
                                
                                <div id="buttons-wrapper">
                                    <button class="btn" type="submit"> LOGIN</button>
                                    <button class="btn" onclick="handleRegClick()"> REGISTER </button>
                                </div>
                            
                        </form>
                </div>
                <div id="register-form">
                    <form method="POST">
                        
                            <div id="form-header">
                                    <img onclick="handleRegBackClick()" src="../static/images/back.svg" class="back-btn" />

                                    <h1 class="head" id="head-reg">Register</h1>
                                   
                            </div>
                            <div class="input-box">
                                <input id="form-usr" name="username" oninput="handlePasswordValue()" type="text" class="inpt inptA" required/>
                                <p class="input-text-username">Username</p>
                            </div>
                
                            <div class="input-box">
                                <input id="first-pass" oninput="handlePasswordValue()" name="password" type="password" class="inpt inptB" required/>
                                <p class="input-text-password">Password</p>
                
                            </div>

                            <div class="input-box">
                                <input id="second-pass" oninput="handlePasswordValue()" type="password" class="inpt inptB" required/>
                                <p class="input-text-password">Confirm password</p>
                
                            </div>

                            <div id="password-alert">
                                <p id="alert-text"></p>
                            </div>
                            
                            <div id="buttons-wrapper">
                                <button  class="btn" id="reg-btn" type="submit"> REGISTER </button>
                            </div>
                        
                    </form>
                </div>
            </div>

        </div>
        
    <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
    </body>
</html>