{% extends 'home.html' %}
{% set active_page = "profile" %}

{% block content %}
    <div id="update-profile-wrap">
        <div id="update-profile-form">
            <form method="POST" enctype="multipart/form-data">
                <div id="avatar">
                    <img src="{{ currentAvatar }}" id="avat-img"/>
                    <input
                                id="image-inpt"
                                type="file"
                                accept="image/*"
                                name="img"  
                    />
                    <label for="image-inpt" id="image-btn">
                            Choose
                    </label>

                </div>
                

                <label for="username"><p id="first-label" class="p-form">Username</p></label>
                <input id="username" class="input-form" name="username" required type="text" value="{{ currentUsername }}"/>
                <div id="separator">
                    <p class="p-form" id="adress-section-header">Address info</p>
                </div>
                <label for="streetAndNum"><p class="p-form">Street and number</p></label>
                <input name="streetAndNum"  class="input-form" value="{{ streetAndNum }}" required>
                <label for="city"><p class="p-form">City</p></label>
                <input name="city"  class="input-form" value="{{ city }}" required>
                <label for="country"><p class="p-form" >Country</p></label>
                <input name="country"  class="input-form" value="{{ country }}" required>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <p class="p-form">
                            {{ messages[0] }}
                        </p>
                {% endif %}
                {% endwith %}
                <button type="submit" class="btn btn-sec">SAVE CHANGES</button>
                
                
                
            </form>
        </div>

    </div>

    <script src="{{url_for('static', filename='scripts/profile.js')}}"></script>

    
{% endblock %}